<h1>Flight Number <%= @flight.number %> with <%= @flight.airline.name %> airlines info</h1>

<p>Date: <%= @flight.date %></p>
<p>Time: <%= @flight.time %></p>
<p>Departure: <%= @flight.departure_city %></p>
<p>Arrival: <%= @flight.arrival_city %></p>

<h3>Passengers:</h3>
  <% @flight.passengers.each do |passenger| %>
  <section class="passengers">    
    <%= passenger.name %>
  <% end %>
  </section>
