<h1>Flight Number <%= @flight.number %>'s info</h1>

<p>Date: <%= @flight.date %></p>
<p>Time: <%= @flight.time %></p>
<p>Departure: <%= @flight.departure_city %></p>
<p>Arrival: <%= @flight.arrival_city %></p>
